<% title "welcome #{current_user.username}"  %>

<%= form_for Flit.new do |f| %>
  <%= f.text_area :message %>
  <%= f.submit "update" %>
<% end  %>

<ul id = "flits_list">
<% @flits.each do |flit| %>
  <li <% if @flits.first == flit %>class="first"<% end %> >
      <%= image_tag flit.user.gravatar_url %>
      <div class="flit_message_container">
	<%= link_to flit.user.username%>
	<%= h flit.message %>
      </div>
      <div class="clear">
      </div>
  </li>
<% end %>
</ul>
